@import './variables.css';
@import './fonts.css';
@import './top-bar.css';
@import './navbar.css';
@import './defaults.css';
@import './footer.css';
@import './course-box.css';


/* Start of Courses Top-bar Styles */

.courses {
    margin: 4rem 0;
}

.courses-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}

/* Right */

.courses-top-bar__form {
    position: relative;
    width: 30rem;
}

.courses-top-bar__input {
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 0.8rem 1.5rem 0.8rem 4.2rem;
    border-radius: 0.4rem;
}

.courses-top-bar__search-icon {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    color: #7d7e7f;
    font-size: 1.8rem;
    cursor: pointer;
}

/* End of Courses Top-bar Styles */
